<ion-view view-title="Timekeeper">

<ion-content>


<div class="hero">
	<div class="username">
		John Doe
	</div>

	<!-- <div class="hours-left">
		45 hours
	</div> -->

	<div class="attendace">
		<p align="center" ng-show="!attendanceToggleModel.status">		
			Sign In
		</p>
		<p align="center" ng-show="attendanceToggleModel.status">		
			Sign Out
		</p>
		<label class="toggle">
			<input type="checkbox" ng-click="attendance()" ng-model="attendanceToggleModel.status">
			<div class="track">
				<div class="handle"></div>
			</div>
		</label>
	</div>
</div>


  


<ion-list>
<!-- <div class="card day-card">
	{{date | date:'HH-mm-ss'}}
</div> -->

<h5 class="title" align="left" style="padding-left: 10px; font-weight: normal;">This Week</h5>

<div class="card green-card day-card" ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
	<div class="item item-divider day">
		{{playlist.title}}

	</div>
	<div class="item item-text-wrap">
		<div class="row">
			<div class="col col-50">
				<span class="time">
					9:06
				</span>
				<span class="meridiem">
					AM
				</span>
			</div>

			<div class="col col-50">
				<span class="time">
					6:10
				</span>
				<span class="meridiem">
					PM
				</span>
			</div>
		</div>
	</div>
</div>

<div class="card dotted-card day-card">
	<div class="item item-divider day">
		Friday

	</div>
	<div class="item item-text-wrap">
		<div class="row">
			<div class="col col-50">
				<span class="time">
					9:06
				</span>
				<span class="meridiem">
					AM
				</span>
			</div>

			<div class="col col-50">
				<span class="time">
					6:10
				</span>
				<span class="meridiem">
					PM
				</span>
			</div>
		</div>
	</div>
</div>

</ion-list>

</ion-content>
</ion-view>
